distroinfo
pygerrit2 == 2.0.9
sh >= 1.12.9
pbr
python_jenkins
rdopkg >= 0.46.0
requests >= 2.20.0
ruamel.yaml
urllib3 >= 1.21.1
validators
PyYAML
git-review

# Other binary requirements
# git
# python-rpm
# rpmdevtools
